.super-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
.super-container .header {
  text-align: center;
}

.movie-container {
  padding: 0 5px;
  text-align: center;
}

#item-list ul {
  list-style: none;
  text-align: center;
}
/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  text-align: center;
  width: 23%;
  padding: 1%;
  border-radius: 5px
}

.grid-item {
  max-height: 260px;
  float: left;
  border-radius: 5px;
}
